################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GetPathFileName/.vs/GetPathFileName
/GetPathFileName/GetPathFileName/bin/Debug/netcoreapp2.1
/GetPathFileName/GetPathFileName/obj/Debug/netcoreapp2.1
/GetPathFileName/GetPathFileName/obj
